<div class="Central">
  <div class="caja" *ngIf="final == false">
   <div class="abs"> ({{puntero+1}}/{{long}})</div>
    <div class="pregunta" >{{pregunta}}</div>
    <div class="caja2">
    <div class="texto">
      <input type="radio" class="contest" name="respuesta" value="a" [(ngModel)]="respuesta">
      <label for="">{{respuesta1}}</label>
    </div>
    <div class="texto">
      <input type="radio" class="contest" name="respuesta" value="b" [(ngModel)]="respuesta">
      <label for="">{{respuesta2}}</label>
    </div>
    <div class="texto">
      <input type="radio" class="contest" name="respuesta" value="c" [(ngModel)]="respuesta">
      <label for="">{{respuesta3}}</label>
    </div>
    <div class="texto">
      <input type="radio" class="contest" name="respuesta" value="d" [(ngModel)]="respuesta">
      <label for="">{{respuesta4}}</label>
    </div>
    <p>{{respuesta}}</p>
   
    <div class="boton" (click)="siguiente(respuesta)">siguiente</div>
     
</div>
  </div>
<div class="secund" *ngIf="final == true">
  <div class="aciertos"><span >Respuestar Correctas: </span>{{contadorC}}</div>
  <div class="fallos"><span >Respuestar Incorrectas: </span>{{contadorI}}</div>
</div>


</div>



